*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.topnav {
    align-items: center;
    background-color:#2F9E41;
    overflow: hidden;
    display: flex;
}

.topnav a {
    float: left;
    color: #008042;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    border-radius: 10px;
}

.topnav a:hover {
    background-color: #008042;
    color: white;
}
.icons{
    padding: 25px;
}
.logo-virtual-if{
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.logo-virtual-if:hover{
    background-color: #008042;
    color: white;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.foto-usuario{
    padding: 10px;
        cursor: pointer;
        height: 100%;
        max-height: 150px;
        margin: 0.3em 0em 0em 0.5em;
}

.logo-virtual-if img{
    max-width: 70px;
    width: auto;
    height: auto;

}
.ico-main{
    display: flex;
    flex-direction: row;
}

.user{
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.user-id:hover{
    background-color: #008042;
}

.user div{
    color: white;
    padding-left: 10px;
}
.user p{
    float: right;
    margin: 0 0 -2px;
    font-size: 14px;
}

.foto-usuario{
    display: flex;
    float: right;
}

.div_sistemas{
    float: left;
    display: inline-flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-bottom: 70px;
    justify-content: flex-start;
}

.div_sistemas p{
    color: white;
    margin: 0;
    margin-bottom: 5px;
    
}

.div_sistemas img{
    width: 25%;
    width: auto;
    height: auto;
}

.div_sistemas div{
    display: inline-flex;
    justify-content: space-around;
    cursor: pointer;
    color: white;
    margin: 0 5px 5px 0;
    max-width:300px;
    max-height:75px;
    width: 100%;
    height: 100%;
    align-items: normal;
}
.div_sistemas div:hover{
    filter: brightness(125%);  
}
.div_sistemas div>div{
    display: flex;
    width: 75%;
    margin-left: -25px;
    justify-content: center;
    flex-direction: column;
}

.div_sistemas div>div>p{
    margin: 0;
    margin-bottom: 5px;
}


@media (max-width: 350px) {
    
    .topnav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user div{
        align-items: center;
    }

    .logo-virtual-if{
        order: 0;
    }
    .user{
        order: 1;
    }
    .ico-main{
        order:2;
    }
    

}

@media (max-width: 781.98px) {
    .topnav{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .logo-virtual-if{
        order: 0;
    }
    .user{
        order: 1;
    }
    .ico-main{
        order:2;
    }



 }
